.section {
    min-height: 100vh;
    &.home {
        background: url('/images/heromain.webp');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        text-align: center;

        .text {
            position: absolute;
            bottom: 20%;
            width: 100%;
            .line-1 {
                font-size: 122px;
                color: white;
                font-family: $line-2-font;
                margin-bottom: 42px;
            }
            .line-2 {
                font-family: $line-2-font;
                font-weight: 800;
                color: white;
                font-size: 36px;
            }
            .line-3 {
                font-family: $line-3-font;
                color: $black;
                font-size: 42px;
                
            }
        }
    }
}